Babel
beautifulsoup4
colorama
dailymotion
dropbox
filemagic
flake8
Flask-Classy
Flask-RESTful
future
gntp
gunicorn
oauth2client>=1.5.2,<4.0.0
google-api-python-client
ipython
kaptan
lxml
monotonic
-e git+https://github.com/tb0hdan/mplayer.py#egg=mplayer.py-0.7.0beta
musicbrainzngs
mutagen
piprot
pocketsphinx
pony
PyAudio
pylast
pylint
pytest
pytest-coverage
PyVimeo
rl
SpeechRecognition
Sphinx
tqdm
youtube-dl
zeroconf