Babel==2.3.4
beautifulsoup4==4.5.1
colorama==0.3.7
dailymotion==0.2.2
filemagic==1.6
gntp==1.0.3
google-api-python-client==1.5.2
ipython==5.1.0
kaptan==0.5.8
monotonic==1.2
pocketsphinx==0.1.1
PyAudio==0.2.9
pylast==1.6.0
PyVimeo==0.3.4
SpeechRecognition==3.4.6
youtube-dl==2016.8.28