Babel==2.3.4
beautifulsoup4==4.5.1
colorama==0.3.7
dailymotion==0.2.2
filemagic==1.6
flake8==3.2.1
Flask-Classy==0.6.10
Flask-RESTful==0.3.5
gntp==1.0.3
oauth2client==1.5.2
google-api-python-client==1.6.1
ipython==5.1.0
kaptan==0.5.8
lxml==3.7.2
monotonic==1.2
musicbrainzngs==0.6
mutagen==1.35.1
piprot==0.9.7
pocketsphinx==0.1.3
pony==0.7
PyAudio==0.2.9
pylast==1.6.0
pylint==1.6.4
pytest==3.0.5
pytest-coverage==0.0
PyVimeo==0.3.4
rl==2.4
SpeechRecognition==3.5.0
Sphinx==1.5.1
youtube-dl