google:
   account_url: https://developers.google.com/identity/protocols/application-default-credentials#howtheywork
   description: Youtube Data API account (please store as ~/.config/voiceplay/credentials.json)
vimeo:
   account_url: https://developer.vimeo.com/
   description: Vimeo video service account
   key: pqr
   secret: stu
   token: vwx
lastfm:
   account_url: http://www.last.fm/api
   description: Last.FM API account
   key: yz0
   secret: yz1
   username: abc
   password: def
